<!doctype html>
<html>
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153562677-1');
      </script>

        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ 'assets/css/main.css?v=1.1' | relative_url }}">
        {% if page.layout == 'post' %}
        {% assign canonical_url_is_not_empty = page.canonical_url | is_not_empty %}
        {% if canonical_url_is_not_empty %}
        <link rel="canonical" href="{{ page.canonical_url }}"/>
        {% endif %}
        {% endif %}

    </head>
    <body>

        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
    </body>
</html>
